{% extends "publicbase.html" %}
{% block title %}Clinic 24/365 - Cancellation{% endblock %}


{% block content %}

<section>
<div class="u-clearfix u-sheet u-sheet-1">

        <p class="u-text u-text-1"><b>
            <font style="font-size: 2.25rem;">CLINIC 24/365<br>
            </font></b>RE: Returning To Clinic Booking Cancellation
            <br>Dear Patient,
            <br>Your Appointment has been cancelled.

            <br>If you wish to create an appointment, please click on the <a href="/createAppointment" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1" referrerpolicy="origin">link</a> to do so
            <br>Sincerely,<br>
            <i><h2 style="font-family: Coronet;">John</h2></i>
            John Lee
            <br>Administrative staff
            <br>CLINIC 24/365
        </p>
</div>
</section>
{% endblock %}
