{% extends "clinicRbase.html" %}
{% block title %}Doctor Schedule Details{% endblock %}

{% block content %}
<section style="text-align:left">
<h1 style="text-align:center">{{ schedule_details[1].get_name() }}'s Details</h1>
    <hr>
    <br>
<div >
    <div>
        Name: {{ schedule_details[1].get_name() }}
    </div>
    <div>
        Appointment Date: {{ schedule_details[0].get_date_of_arrival() }}
    </div>
    <div>
        Appointment Time: {{ schedule_details[0].get_time() }}
    </div>
    <div>
        Purpose:
        {% if schedule_details[0].get_purpose() == 'M' %}
              Medical Test/Examination
        {% elif schedule_details[0].get_purpose() == 'D' %}
             Consultation
        {% elif schedule_details[0].get_purpose() == 'C' %}
         Collection of Documents
        {% endif %}
    </div>
    <div>
        Message: {{ schedule_details[0].get_message() }}
    </div>
    <div>
        <h4>Others</h4>
        <div>
        NRIC: {{ schedule_details[1].get_nric() }}
        </div>
        <div>
        Phone Number: {{ schedule_details[1].get_phone() }}
        </div>
        <div>
            Email Address: <a href="mailto: {{ schedule_details[1].get_email() }}">{{ schedule_details[1].get_email() }}</a>
        </div>
        <div>
        Area of Stay: {{ schedule_details[1].get_area() }}
        </div>
        <div>
        Postal Code: Singapore {{ schedule_details[1].get_postal_code() }}
        </div>
        <div>
        Date of Birth: {{ schedule_details[1].get_birthdate() }}
        </div>
        <div>
        Gender: {{ schedule_details[1].get_gender() }}
        </div>
    </div>
    <div>
    <a href="/doctorSchedule" class="btn btn-primary">Back</a>
    </div>
</div>
</section>
{% endblock %}
