{% extends "publicbase.html" %}
{% block title %}Public Password{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

<section style="text-align:center">
    <h1>Change Password</h1>
    <hr>
    <br>
    <form method="POST" action="">
    <div class="container" id="password">
        <div class="form-group">
            {{ render_field(form.current_password, class="form-control") }}
        </div>
        <div class="form-group">
            {{ render_field(form.password, class="form-control") }}
        </div>
        <div class="form-group">
            {{ render_field(form.cfm_password, class="form-control") }}
        </div>
    </div>
        <input type="submit" value="Save" class="btn btn-primary"/>
    </form>
</section>
<script>
  {% if fail == 1 %}
  alert('Incorrect Password')
  {% endif %}
</script>
{% endblock %}
